name: Deploy Frontend Application To Server

on:
  push:
    branches: [ "dev" ] # main 브랜치에 푸시될 때 실행
    tags: [ "v*.*.*" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PROJECT_PATH: /home/ubuntu/dorm

# 한번에 1개의 워크플로우만 실행되도록 제한
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build-image.yml
    with:
      git_ref: ${{ github.ref }}

  deploy:
    needs: build
    if: github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/dev' && 'dev' || 'main' }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Verify tag is on main branch
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          git branch -r --contains ${{ github.ref_name }} | grep -w 'origin/main'

      - name: Deploy Application
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          port: ${{ secrets.PORT }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |
            export RELEASE_VERSION='${{ github.ref_name }}'

            cd ${{ env.PROJECT_PATH }}

            # docker-compose.yml 파일에서 이미지 태그를 최신 버전으로 교체
            sed -i "s|image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:.*|image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${RELEASE_VERSION#v}|g" docker-compose.yml

            # Docker Compose로 애플리케이션 실행
            docker compose pull # 레지스트리에서 최신 이미지 받아오기
            docker compose up -d --remove-orphans # 컨테이너 띄우기
            docker image prune -f # 사용하지 않는 이미지 정리